input.wpcf7-not-valid, textarea.wpcf7-not-valid {
    border: 2px solid red;
}
.wpcf7-not-valid-tip {
    display: none !important;
}
/* Responsive */
@media only screen and (max-width:767px){
    .wpcf7-form-control.g-recaptcha.wpcf7-recaptcha div {
        width: 100% !important;
    }
    .container.contactForm {
        max-width: 100% !important;
    }
    .contactForm .wpcf7-form {
        width: 100%;
    }
    .rc-anchor-content {
        width: 50% !important;
    }

}